TELEGRAM_BOT_TOKEN=your-bot-token-from-botfather
TELEGRAM_CHANNEL_ID=@your_channel_username_or_numeric_id
# POLL_INTERVAL=60
# API_URL=https://api.chunt.org/fm/channels/1/now-playing
# NOTIFY_RESTREAMS=false
# NOTIFY_NOT_LIVE=false
# LIVE_MESSAGE_TEMPLATE=live!!!1\n<b>{title}</b>\n\nStarted: {start}\nDuration: ~{duration} min\n{description}\n{show_url}
